#cov-group-trajet .cov-type.glyphicon-arrow-right{
    color: green;
}
#cov-group-trajet .cov-type.glyphicon-arrow-left{
    color: red;
}
#cov-group-trajet .cov-date,
#cov-group-trajet .cov-type{
    width: 75px;
}
#cov-group-trajet .cov-conducteur{
    width: 200px;
}
#cov-group-trajet .cov_passager_tuile{
    display: inline-block;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
}
#cov-group-trajet .cov_passager_tuile .cov_remove_pass{
    margin-left: 5px;
    padding: 3px 6px;
}
#cov-group-trajet .cov_pag{
    text-align: center;
}
#cov-group-trajet tr .btn {
    margin-bottom: 5px;
}